<ul class="pagination">
    {% if nbPages > 1 %}
        <ul class="pagination">

            {% if previous is defined %}
                <li>
                    <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans }}</a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>&laquo;&nbsp;{{ 'label_previous'|trans }}</span>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for p in pagesInRange %}
                {% if p != page %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): p})) }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ p }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if nbPages > endPage %}
                {% if nbPages > (endPage + 1) %}
                    {% if nbPages > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): (nbPages - 1)})) }}">{{ nbPages -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): nbPages})) }}">{{ nbPages }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li>
                    <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'label_next'|trans }}&nbsp;&raquo;</a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>{{ 'label_next'|trans }}&nbsp;&raquo;</span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</ul>