{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Adena Mail{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Adena Mailing Tool</h1>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Mailing Tools</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('adena_mail_datasource_list') }}">Datasources</a></li>
                <li><a href="{{ path('adena_mail_email_list') }}">Email</a></li>
                <li><a href="{{ path('adena_mail_mailing_list_list') }}">Mailing List</a></li>
                <li><a href="{{ path('adena_mail_sender_list') }}">Senders</a></li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% for type, messages in app.session.flashbag.all %}
                {%  for message in messages %}
                    <div class="alert alert-{{ type }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript">
        var submitCallback = function(e){
            if(e) e.preventDefault();

            var $form = $(e.currentTarget);

            var data = $form.serialize();
            data += '&form_name='+$form.attr('name');

            $.ajax('{{ path('adena_mail_xhr_validation') }}', {
                method: 'POST',
                data: data,
                success: function(data){
                    console.log('SUCCESS');
                    console.log(data);

                    $form.off();
                    $form.submit();
                },
                error: function(data){
                    console.log('ERROR');
                    console.log(data);

                    // Save the name since $form will be replaced.
                    var formName = $form.attr('name');

                    $('form[name='+formName+']').replaceWith(data.responseJSON.template);
                    $('form[name='+formName+']').on('submit', submitCallback);
//                    _.each(data.responseJSON, function(item, key){
//                        $('#'+$form.attr('name')+'_'+key).closest('.form-group').replaceWith(item);
//                    });
                }
            });
        };

        $('form:not(.nojsvalidate)').on('submit', submitCallback);
    </script>
{% endblock %}

</body>
</html>
