{% use "bootstrap_3_layout.html.twig" %}

{%- block icon -%}
    {%- if(icon is defined and icon is not empty) -%}
        <i class="{{ icon }}"></i>
    {%- endif -%}
{%- endblock icon -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim }) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {{ block('icon') }}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget -%}

{%- block form_help -%}
    {% if help_block|default %}
        <span class="help-block">{{ help_block }}</span>
    {% endif %}
{%- endblock form_help  -%}

{%- block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {{- block('form_help') -}}
    </div>
{%- endblock form_row -%}

