{% use "bootstrap_3_layout.html.twig" %}

{%- block icon -%}
    {%- if(icon is defined and icon is not empty) -%}
        <i class="{{ icon }}"></i>
    {%- endif -%}
{%- endblock icon -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim }) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {{ block('icon') }}
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget -%}

{%- block form_help -%}
    {% if help_block|default %}
        <span class="help-block">{{ help_block }}</span>
    {% endif %}
{%- endblock form_help  -%}

{%- block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        {{- block('form_help') -}}
    </div>
{%- endblock form_row -%}


{%- block form_start -%}
    {% set attr = attr|merge({'novalidate' : 'novalidate'}) %}
    {{ parent() }}
{%- endblock form_start -%}

{% block custom_collection_widget %}
    {% spaceless %}
        <div class="collection">
            {% if prototype is defined %}
                {% set attr = attr|merge({'data-prototype': block('custom_collection_item_widget') }) %}
            {% endif %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}
                <ul>
                    {% for prototype in form %}
                        {{ block('custom_collection_item_widget') }}
                    {% endfor %}
                </ul>
                {{ form_rest(form) }}
            </div>
            <div class="clear"></div>
            <a class="add" title="Add">
                <div style="display: none;"></div>
                <span>Add</span>
            </a>
        </div>
        <div class="clear"></div>
    {% endspaceless %}
    <script type="text/javascript">
        var $container = $('#{{ form.vars.id }}');
        var index = $container.find('ul li').length;

        $('.add').click(function(e){
            var template = $container.attr('data-prototype')
                .replace(/__index__/g, (index))
                .replace(/__name__/g,        index);

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.find('ul').append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        });
    </script>
{% endblock custom_collection_widget %}

{% block custom_collection_item_widget %}
    {% spaceless %}
        <li id="{{ form.vars.id }}___index__">
            {% set fieldNum = 1 %}
            {% for row in prototype %}
                <div class="field{{ fieldNum }}">
                    {{ form_row(row) }}
                </div>
                {% set fieldNum = fieldNum + 1 %}
            {% endfor %}
            <a class="remove" title="Remove">
                <span>Delete</span>
            </a>
            <div class="clear"></div>
        </li>
        <script type="text/javascript">
            $("#{{ form.vars.id }}___index__ .remove").click(function(e){
                $("#{{ form.vars.id }}___index__").remove();
            });
        </script>
    {% endspaceless %}
{% endblock custom_collection_item_widget %}

{% block aceeditor_widget %}
    {{ block('textarea_widget') }}
    <div id="{{ form.vars.id }}_aceeditor" class="js-aceeditor" data-target-id="{{ form.vars.id }}"></div>
{% endblock %}

{% block datetimepicker_widget %}
    {% set attr = attr|merge({
        class: (attr.class|default('') ~ ' js-datetimepicker')
    }) %}
    {{ block('form_widget_simple') }}
{% endblock datetimepicker_widget %}