{% extends 'AdenaMailBundle::layout.html.twig' %}

{% block adenamail_body %}
    <div class="row">
        <div class="col-xs-12">
            {% include('AdenaMailBundle:Common/Button:create_link_button.html.twig') with {'label' : 'Add a new campaign', 'path' : path('adena_mail_campaign_add') } %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Created At
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <td>
                            <a href="{{ path('adena_mail_campaign_view', {id: campaign.id}) }}">{{ campaign.name }}</a>
                        </td>
                        <td>
                            {{ campaign.createdAt|date('Y-m-d H:m:s')}}
                        </td>
                        <td>
                            {{ campaign.status }}
                        </td>
                        <td>
                            {% if campaign.status is constant('STATUS_NEW', campaign) %}
                                <a href="{{ path('adena_mail_campaign_edit', {'id': campaign.id}) }}">
                                    Edit
                                </a> |
                            {% endif %}
                            <a href="{{ path('adena_mail_campaign_delete', {'id': campaign.id}) }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

