{% extends 'AdenaMailBundle::layout.html.twig' %}

{% block adenamail_body %}

    <h3>{{ campaign.name }}</h3>

    {% if (campaign.status is constant('STATUS_NEW', campaign))  %}
        <p>Before sending the campaign, you must send a Test Email.</p>
        <p><a href="{{ path('adena_mail_campaign_test', {id: campaign.id}) }}">Please click here to do so.</a></p>
    {% endif %}


    {% if campaign.status is constant('STATUS_IN_PROGRESS', campaign) %}
        <p>This campaign is currently sending!</p>
        <p>Progress: {{ campaign.emailsCount - remainingEmails }} out of {{ campaign.emailsCount }} emails sent.</p>
    {% endif %}

    {% if campaign.status is constant('STATUS_ENDED', campaign) %}
        <p>This campaign has ended.</p>
        <p>It sent out {{ campaign.emailsCount }} emails.</p>
    {% endif %}

{% endblock %}

