{% extends 'AdenaMailBundle::layout.html.twig' %}


{% block adenamail_body %}
    <div class="row">
        <div class="col-xs-12">
            {% include('AdenaMailBundle:Common/Button:create_link_button.html.twig') with {'label' : 'Add new Email', 'path' : path('adena_mail_email_add') } %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for email in emails %}
                    <tr>
                        <td>{{ email.id }}</td>
                        <td><a href="{{ path('adena_mail_email_view', {'id': email.id}) }}">{{ email.name }}</a></td>
                        <td><a href="{{ path('adena_mail_email_view', {'id': email.id}) }}">{{ email.subject }}</a></td>
                        <td>
                            <a href="{{ path('adena_mail_email_edit', {'id': email.id}) }}">
                                Edit
                            </a> |
                            <a href="{{ path('adena_mail_email_delete', {'id': email.id}) }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ adena_pagination_render( emails ) }}
        </div>
    </div>

{% endblock %}

